<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Listing Reservations</h1>
    <br/>

    <%- if @reservations.none? %>
      <h3 id="table_message">No existing reservations</h3>
    <%- else %>
      <table align="center", class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Customer</th>
            <th class="text-center">Spot ID</th>
            <th class="text-center">Reservation Date</th>
            <th class="text-center">Duration (h)</th>  
          </tr>
        </thead>

        <tbody>
          <% @reservations.each do |reservation| %>
            <% user = User.find(reservation.user_id) %>
            <tr class="reservations_list_item">
              <td class="text-center"><%= user.name + " " + user.surname %></td>
              <td class="text-center"><%= reservation.spot_id %></td>
              <td class="text-center"><%= reservation.requested_datetime.strftime("%x %H:%M") %></td>
              <td class="text-center"><%= reservation.time_range %></td>
              <% if logged_in? && reservation.user_id == current_user.id %>
                <td><%= link_to 'Cancel', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td/>
							<% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %> 
  </div>
</div>
<br>
