<% if params["datetime"] %>
  <% searched_datatime = DateTime.new(params["datetime"]["parameter(1i)"].to_i, params["datetime"]["parameter(2i)"].to_i, params["datetime"]["parameter(3i)"].to_i, params["datetime"]["parameter(4i)"].to_i, params["datetime"]["parameter(5i)"].to_i, 0) %>
  <% searched_duration = params["duration"] %>
<% else %>
  <% searched_datatime = DateTime.now %>
  <% searched_duration = 1 %>
<% end %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Parking spots</h1>
    <br/>
    <div class="well">
      <%= form_tag(spots_path, method: "get") do %>
        <%= datetime_select :datetime, :parameter, order: [:day, :month, :year], default: searched_datatime, minute_step: 60 %>
        <%= text_field_tag :duration, searched_duration, style: 'margin-left:10px' %>
        <%= submit_tag "Search", style: 'margin-left:20px' %>
      <% end %>
    </div>
  </div>
</div>

<table align="center">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for i in (0...8) %>
      <% if i % 2 == 0 %>
        <tr class="road"/>
      <% end %>
      <tr>
        <% @spots.each do |spot| %>
          <% if spot.y == i %>
            <% is_reserved = 0 %>
            <% spot.reservations.each do |reservation| %>

              <% if searched_duration.to_i < 1 %>
                <% searched_duration = "1" %>
              <% end %>

              <% single_reservation_start_epoch = reservation.requested_datetime.to_time.to_i %>
              <% single_reservation_end_epoch = reservation.requested_datetime.to_time.to_i + (3600 * reservation.time_range.to_i) %>
              <% start_epoch = searched_datatime.to_time.to_i %>
              <% end_epoch = searched_datatime.to_time.to_i + (3600 * searched_duration.to_i) %>

              <%  if single_reservation_start_epoch.between?(start_epoch + 1, end_epoch - 1) || single_reservation_end_epoch.between?(start_epoch + 1, end_epoch - 1) ||
                ( start_epoch >= single_reservation_start_epoch && end_epoch <= single_reservation_end_epoch) %>
                <% is_reserved = 1 %>
                <% break %>
              <% end %>
            <% end %>

            <% if is_reserved == 0 %>
              <td><%= link_to '', spot, :class => 'seatNumber' %></td>
            <% else %>
              <td><%= link_to '', spot, :class => 'seatNumberUnavailable' %></td>
            <% end %>
            <% if spot.x == 9 %>
              <td class="road"/>
            <% end %>
          <% end %>
        <% end %>
      </tr>    
    <% end %> 
  </tbody>
</table>

<br>

