<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Reservations</h1>
    <br/>
    <div class="well">
			<%= form_for(@reservation, layout: 'inline') do |f| %>
			  <div class="actions">
					<%= f.number_field :spot_id, value: @spot.id, hidden: true %>
					<% if logged_in? %>
						<%= f.number_field :user_id, value: current_user.id, hidden: true %>
					<% end %>
			  	<%= f.datetime_select :requested_datetime, order: [:day, :month, :year], minute_step: 60, default: DateTime.now %>
			  	<%= f.number_field :time_range, style: 'margin-left:10px' %>
			    <%= f.submit 'Make Reservation', style: 'margin-left:20px' %>
			  </div>
			<% end %>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom:20px"></div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

		<%- if @spot.reservations.none? %>
			<h3 id="table_message">No existing reservations</h3>
		<%- else %>
			<table align="center", class="table table-striped">
			  <thead>
			    <tr>
			    	<th class="text-center">Customer</th>
			      <th class="text-center">Reservation Date</th>
			      <th class="text-center">Duration (h)</th>  
			    </tr>
			  </thead>

			  <tbody>
					<% @spot.reservations.each do |reservation| %>
						<% user = User.find(reservation.user_id) %>
				  	<tr class="reservations_list_item">
				  		<td class="text-center"><%= user.name + " " + user.surname %></td>
				  		<td class="text-center"><%= reservation.requested_datetime.strftime("%x %H:%M") %></td>
							<td class="text-center"><%= reservation.time_range %></td>
							<% if logged_in? && reservation.user_id == current_user.id %>
								<td><%= link_to 'Cancel', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							<% else %>
                <td/>
							<% end %>
				    </tr>
					<% end %>
				</tbody>
			</table>
		<% end %>	
	</div>
</div>


