// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seatNumber {
  display: block;
  background-color: #5c86eb;
  color: #FFF;
  border-radius: 10px;
  height: 60px;
  width: 40px;
  border-style: solid;
}

.seatNumberUnavailable {
  display: block;
  background-color: gray;
  color: #FFF;
  border-radius: 10px;
  height: 60px;
  width: 40px;
  border-style: solid;
}

.road {
  display: block;
  height: 60px;
  width: 40px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
